@import './markdown.css';

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  background-color: #00DBDE;
  background-image: linear-gradient(166deg, #00DBDE 0%, #FC00FF 100%);
  background-attachment: fixed;
}

html.dark {
  background-color: #FF3CAC;
  background-image: linear-gradient(166deg, #FF3CAC 0%, #784BA0 40%, #2B86C5 100%);
  background-attachment: fixed;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: rgb(13,148,136);
  opacity: 0.75;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}
